<div id="<%= dom_id friends2 %>">
  <p>
    <strong>First name:</strong>
    <%= friends2.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friends2.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friends2.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friends2.phone %>
  </p>

  <p>
    <strong>Insta:</strong>
    <%= friends2.insta %>
  </p>

  <p>
    <strong>Reg num:</strong>
    <%= friends2.reg_num %>
  </p>

</div>
